.accounts
{
    position:absolute;
    top:0rem;
    bottom:0px;
    left:0px;
    right:0px;
    text-align:left;
}
.accounts_list
{
    position:absolute;
    width:100%;
    top:5rem;
    bottom:0px;
    overflow-x:hidden;
    overflow-y:auto;
}
.accounts li,
.new_account
{
    position:relative;
    line-height:4rem;
    list-style:none;
    margin:1rem;
    border:1px solid #e0e0e0;
    padding:0.5rem;
    padding-left:5rem;
    font-size:1.3rem;
    white-space:nowrap;
    overflow:hidden;
}
.new_account
{
    padding-left:0rem;
}
.new_account .fa-plus
{
    display:inline-block;
    width:5.0rem;
    text-align:center;
}
.api_list
{
    display:inline-block;
    vertical-align:middle;
    width:5rem;
    height:3rem;
}
.account-sdcard
{
    background:url(../../img/apis/sdcard.png) 1rem center no-repeat;
    background-size:3rem auto;
}
.account-google
{
    background:url(../../img/apis/google.png) 1rem center no-repeat;
    background-size:3rem auto;
}
.account-box
{
    background:url(../../img/apis/box.png) 1rem center no-repeat;
    background-size:3rem auto;
}
.account-dropbox
{
    background:url(../../img/apis/dropbox.png) 1rem center no-repeat;
    background-size:3rem auto;
}
.account-onedrive
{
    background:url(../../img/apis/onedrive.png) 1rem center no-repeat;
    background-size:3rem auto;
}
.account-webdav
{
    background:url(../../img/apis/webdav.png) 1rem center no-repeat;
    background-size:3rem auto;
}
.account_delete
{
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    height:100%;
    width:5rem;
    line-height:5rem;
    text-align:center;
    color:#666;
}
