.files
{
    position:absolute;
    top:0px;
    bottom:0px;
    width:100%;
    overflow:hidden;
    background:white;

    z-index:3;
    transition:left 0.5s ease 0s;
    left:100%;
    font-size:0px;
    text-align:left;
}
.files.focused
{
    left:0%;
}
.files_ariane
{
    height:4.1rem;
    background:#333;
    color:#fff;
    line-height:4.1rem;
    font-size:1.3rem;
    padding:0rem 0.6rem;
    border-bottom:2px solid white;
}
.files_ariane .fa
{
    display:inline-block;
    width:4.1rem;
    height:4.1rem;
    line-height:4.1rem;
    font-size:2rem;
    text-align:center;
    vertical-align:top;
}

.files_container
{
    position:absolute;
    bottom:5rem;
    top:9.5rem;
    width:100%;
    overflow-x:hidden;
    overflow-y:scroll;
}

.files li
{
    position:relative;
    display:inline-block;
    vertical-align:top;
    font-size:1.2rem;
    width:50%;
    margin:0rem;
    line-height:2.5rem;
}
.files li.folder.special
{
    width:100%;
}
.item_container
{
    position:relative;
    margin:0.4rem;

    border:1px solid #e0e0e0;
    white-space:nowrap;
    overflow:hidden;
}
li.folder .item_container
{
    height:3.7rem;
}

.files li.updating
{
    border:1px solid #333;
}
.files li.separator
{
    width:100%;
}

.item_name
{
    position:absolute;
    width:100%;
    text-overflow:ellipsis;
    overflow:hidden;
    padding:0.5rem 3.1rem 0.5rem 3.1rem;
    background-size:auto 30%;
    background-position: 1rem center;
    background-repeat:no-repeat;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.folder .item_name
{
    font-size:1.3rem;
}
.folder.starred .item_name
{
    padding-right:5.4rem;
}
.file.starred .item_name
{
    padding-right:5.4rem;
}

.item_check,
.item_info,
.item_starred
{
    float:right;
    width:3.0rem;
    background:white;
    text-align:center;
    line-height:3.2rem;
}

.item_check:before,
.item_info:before,
.item_starred:before
{
    font-size:1.6rem;
    color:#c7c7c7;
}
.item_check
{
}
.item_check:before
{
    margin-right:1rem;
    color:#818181;
}

.files li.file
{
}
.item_thumb
{
    padding-top:70%;
    background-color:#f0f0f0;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
}
.item_thumb.loading
{
    background-size:30px;
    background-image:url(../../img/loading.gif);
}
.item_thumb.error
{
    background-size:30px;
    background-image:url(../../img/error.png);
}


.files li.no_items
{
    width:100%;
    font-size:1.4rem;
    padding:2rem;
    text-align:center;
}
