
.header
{
    position:relative;
    background:#298bee;
    height:5rem;
}

.section_title
{
    position:absolute;
    z-index:1;
    top:0px;
    left:0px;
    width:100%;
    height:5rem;
    line-height:5rem;
    color:white;
    text-align:center;

    font-size:1.5rem;
    letter-spacing:0.05em;
    font-weight:bold;
    overflow:hidden;
    text-overflow:ellipsis;
}

.header button
{
    position:relative;
    z-index:2;
    width:5rem;
    height:5rem;
}

.header button span
{
    color:#fff;
}
.header button:active span
{
    color:#333;
}
.header button.selected
{
    background:#298bee;
}

.button_left
{
    float:left;
}
.button_right
{
    float:right;
}
.header button
{
    background:none;
    border:none;
}

